/* All Common CSS Start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

/* All Common CSS End */
/* Header Part Start */

.navbar {
    width: 100%;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    top: 0;
    left: 0;
}

.nav-link {
    color: #dddddd;
    font-size: 16px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    text-decoration-color: #FF4655;
    transition: .5s;
}

.nav-link:hover {
    color: #FF4655;
}

.socialPart a {
    margin: 0 5px;
    color: #dddddd;
    font-size: 16px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    text-decoration-color: #FF4655;
    transition: .5s;
}

.socialPart a:hover {
    color: #FF4655;
}

/* Header Part End */
/* Banner Part Start */
#bannerPart {
    padding-top: 340px;
    padding-bottom: 100px;
    background: url(../Images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bannerText h3 {
    color: #dddddd;
    font-size: 27px;
    font-weight: 400;
    line-height: 40px;
    font-family: "Oswald", sans-serif;
    padding-bottom: 13px;
}

.bannerText h1 {
    color: #dddddd;
    font-size: 60px;
    font-weight: 600;
    line-height: 81px;
    font-family: "Oswald", sans-serif;
    padding-bottom: 15px;
    position: relative;
}

.bannerText h1::after {
    position: absolute;
    height: 4px;
    width: 90px;
    background: #FF4655;
    right: 35px;
    bottom: 30px;
    content: " "
}

.bannerText p {
    color: #dddddd;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Oswald", sans-serif;
    padding-right: 109px;
    padding-bottom: 40px;
}

.bannerText a {
    color: #121212;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    font-family: "Oswald", sans-serif;
    background-color: #ffff;
    padding: 13px 20px;
    margin-bottom: 220px;
    border-radius: 5px;
    text-decoration-color: #FF4655;
    transition: .5s;
}

.bannerText a:hover {
    color: #FF4655;
}

.socialIcon a {
    color: #dddddd;
    font-size: 35px;
    text-decoration-color: #FF4655;
    transition: .5s;
}

.socialIcon a:hover {
    color: #FF4655;
}

/* Banner Part End */
/* About Part Start */
#aboutPart {
    background-color: #121212;
    position: relative;
}

.aboutHeading h3 {
    font-family: "Oswald", sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #dddddd;
    line-height: 56px;
    padding-right: 108px;
    padding-top: 35px;
    position: relative;
    display: inline-block;
}

.aboutHeading h3::after {
    position: absolute;
    height: 4px;
    width: 90px;
    background: #FF4655;
    left: 195px;
    bottom: 11px;
    content: " "
}

.aboutImage {
    padding-top: 75px;
    position: relative;
    display: inline-block;
}

.aboutImage::before {
    position: absolute;
    height: 6px;
    width: 150px;
    background: #FF4655;
    left: 0px;
    top: 71px;
    content: " "
}

.aboutImage::after {
    position: absolute;
    height: 150px;
    width: 6px;
    background: #FF4655;
    left: 0px;
    top: 71px;
    content: " "
}

.aboutText h4 {
    color: #dddddd;
    font-family: "Oswald", sans-serif;
    font-size: 27px;
    font-weight: 600;
    line-height: 40px;
    padding-top: 212px;
}

.aboutText h5 {
    color: #dddddd;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}

.aboutText h5 i {
    color: #FF4655;
}

.aboutText p {
    color: #dddddd;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-top: 10px;
    padding-bottom: 27px;
}

.aboutText a {
    color: #ffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    font-family: "Oswald", sans-serif;
    background-color: #212121;
    padding: 13px 20px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.aboutText a i {
    color: #ffff;
    margin-right: 5px;
    position: absolute;
}

.counterItem {
    background-color: #212121;
    color: #dddddd;
    padding: 28px 95px;
    text-align: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 0;
    margin-bottom: 80px;
}

.counterItem h3 {
    color: #dddddd;
    font-family: "Oswald", sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 72px;
}

.counterItem i {
    color: #FF4655;
    font-size: 12px;
    right: 10px;
}

.counterItem p {
    color: #dddddd;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
}

/* About Part End */
/* Popular Part Start */
#popularPart {
    background-color: #191919;
    position: relative;
}

.valorantImage img {
    padding-bottom: 90px;
}

.trendImage img {
    padding-top: 165px;
    padding-bottom: 90px;
}

.valorantImage img:hover,
.trendImage img:hover {
    transform: scale(1.02);
    filter: brightness(1.15) drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.3));
    transition: 0.2s;
}

.popularHeading h3 {
    font-family: "Oswald", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    padding-top: 95px;
    text-align: right;
    position: relative;
}

.popularHeading h3::after {
    position: absolute;
    height: 5px;
    width: 105px;
    background: #ff4655;
    right: 130px;
    bottom: 5px;
    content: "";
}

.popular-container {
    position: absolute;
    right: 100px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popularButton {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    transition: 0.3s;
}

.popularButton:hover,
.popularButton:hover {
    color: #FF4655;
}

/* Popular Part End */
/* Tournament Part Start */
#tournamentPart {
    background-color: #121212;
}

.liveHeading h3 {
    font-size: 38px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    line-height: 56px;
    letter-spacing: 1.5px;
    color: #fff;
    position: relative;
    padding-top: 90px;
}

.liveHeading h3::after {
    position: absolute;
    background: #ff4655;
    height: 4px;
    width: 120px;
    bottom: 10px;
    left: 205px;
    content: " ";
}

.liveImageHolder {
    display: flex;
    align-items: center;
    padding-bottom: 70px;
    position: relative;
    border-radius: 5px;
}

.liveImage a:hover {
    padding-top: 80px;
}

.liveImage img {
    width: 100%;
    height: 240px;
    filter: grayscale(100%);
    transition: all linear 0.4s;
}

.prev {
    font-size: 35px;
    position: absolute;
    top: 81%;
    right: 0px;
    transform: translateY(-50%);
    z-index: 99999;
}

.next {
    font-size: 35px;
    position: absolute;
    top: 72%;
    right: 0px;
    transform: translateY(-50%);
}

.tournamentText {
    font-size: 25px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    line-height: 60px;
}

/* Tournament Part End */


/* About Part Start */
/* About Part End */
/* About Part Start */
/* About Part End */
/* About Part Start */
/* About Part End */